<%- include('partials/header') %>

<div class="jumbotron text-center" style="background-color: #45910b;">
  <div class="container">
    <i class="fas fa-money-check fa-6x"></i>
    <h1 class="display-3" style="color: red;">Cashier</h1>
    <hr>
    <a class="btn btn-info btn-lg" href="/add" role="button">Add Payment</a>
    <a class="btn btn-warning btn-lg" href="/fines" role="button">All Payment Details</a>
    <a class="btn btn-info btn-lg" style="width: 14%; height: 5vh;" href="/logout" role="button">Back</a> 
  </div>
</div>
<footer style="background-color: #333; color: white; padding: 20px 0;">
  <div class="container" style="text-align: center;">
    <p>&copy; 2024 Your Company. All rights reserved.</p>
    <p style="font-size: 12px;">Designed by <a href="https://www.example.com" style="color: white; text-decoration: underline;">vimalpriyan</a></p>
  </div>
</footer>

<%- include('partials/footer') %>
