<%- include('partials/header') %>

<div class="jumbotron centered" id="home" style="background-image: url('https://static.vecteezy.com/system/resources/previews/009/262/803/original/red-and-black-contrast-background-of-corporate-waves-design-for-banner-flyer-flyer-with-place-for-text-illustration-vector.jpg');">
  <div class="container">
    <i class="fas fa-list fa-6x"></i>
    <h1 class="display-3" style="color: red;">FINE MANAGEMENT SYSTEM</h1>
    <hr>
    <a class="btn btn-info btn-lg" href="/cashier" role="button" style="background-color: rgb(244, 26, 26);">cashier</a>
    <a class="btn btn-info btn-lg" href="/user" role="button" style="background-color: rgb(0, 255, 60);">user</a>
  </div>
</div>

<footer style="background-color: #333; color: white; padding: 20px 0;">
  <div class="container" style="text-align: center;">
    <p>&copy; 2024 Your Company. All rights reserved.</p>
    <p style="font-size: 12px;">Designed by <a href="https://www.example.com" style="color: rgb(215, 125, 125); text-decoration: underline;">vimalpriyan</a></p>
  </div>
</footer>

<%- include('partials/footer') %>
