<%- include('partials/header') %>

<div class="jumbotron text-center" style="background-color: #FFD700;">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <i class="fas fa-user fa-6x"></i>

    <h1 class="display-3" style="color: red;">welcome User</h1>
    <p>Check the payment details and edit their profiles, see the fine amount</p>
    <hr>
    <a class="btn btn-info btn-lg" href="/fines" role="button">show</a>
    <a class="btn btn-primary btn-lg" href="/" role="button">Log Out</a>
  </div>
</div>

<footer style="background-color: #333; color: white; padding: 20px 0;">
  <div class="container" style="text-align: center;">
    <p>&copy; 2024 Your Company. All rights reserved.</p>
    <p style="font-size: 12px;">Designed by <a href="https://www.example.com" style="color: white; text-decoration: underline;">vimalpriyan</a></p>
  </div>
</footer>

<%- include('partials/footer') %>
